*{
  font-family: Trebuchet,Arial, sans-serif;
  padding: auto;
}
body{
  padding: 0px;

}

.download {
  margin: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.tombol{
  background-color: #003366;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.miring{
  font-weight: bold;;

}

/*CSS UNTUK FAQ*/

.syarat{
  padding: 0px 0px;
  font-size: 14px;
  text-align: justify;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  font-size: 14px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: dotted 1px;
  outline: none;
  transition: 0.4s;
}
/* .accordion:after{
    content: '\02795';
    font-size: 13px;
    float: right;
}
 .active:after{
    content: "\2796";
    font-size: 13px;
    float: right;
}*/

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 12px;
  background-color: white;
  text-align: justify;
  display: none;
  overflow: hidden;
  ;
}
